html {
    font-size: 10px;
    font-family: sans-serif;
}
@import "./variables.scss";
@import "./mixins.scss";
body {
    background-color: black;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.animated-text-container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    color: #fff;
    padding: 0 2rem;
    background-color: $primary-color;
    width: 20rem;
    height: 6rem;
    overflow: hidden;
    text-align: center;
}
.list {
    font-size: 4rem;
    line-height: 6rem;
}
.list:first-child {
    @include scroll(2s);
}


/* mobile only */
@media only screen and (max-width: 600px){
    html {
        font-size: 5px;
    }
    .animated-text-container{
        display: none;
    }
}